<ion-content padding>
  <ion-item color="dark">
    <ion-label>Rest Duration</ion-label>
    <ion-datetime display-format="mm:ss" placeholder="Tap here" [(ngModel)]="specifiedRestTime"></ion-datetime>
  </ion-item>

  <div class="circle-container">
    <circle-progress
      (click)="startTimer()"
      [percent]="percent"
      [showUnits]="false"
      [showTitle]="false"
      [showSubtitle]="false"
      [outerStrokeGradient]="true"
      [showZeroOuterStroke]="false"
      [showInnerStroke]="false"
      [backgroundStrokeWidth]="3"
      [outerStrokeWidth]="16"
      [maxPercent]="100"
      outerStrokeColor="#8000ff"
      backgroundStroke="#33003f"
      outerStrokeGradientStopColor="#ff00cb"
    ></circle-progress>
  </div>
</ion-content>
